* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 255, 255, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
.mircophone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding-top: 30px;
}
.microphone-icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 20px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
  /*padding-top: 30px;*/
}
.microphone-icon-container.listening::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: #ffffff81;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.4);
  border-radius: 50%;
  animation: listening infinite 1.5s;
}
@keyframes listening {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}
.microphone-icon {
  width: 100%;
  height: 100%;
}
.microphone-status {
  font-size: 22px;
  margin-right: 20px;
  min-width: 215px;
}
.generative-outputs-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-bottom: auto;
  padding-left: 300px;
  padding-right: 300px;
}
.microphone-result-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 300px;
  padding-right: 300px;
}
.microphone-result-text {
  margin-bottom: 3px;
  /*width: 70vw;*/
  overflow-y: auto;
  /*padding-left: 30px;*/
  /*padding-right: 30px;*/
}
.microphone-reset {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
}
.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
}
@media screen and (max-width: 1366px) {
  body p {
    font-size: 30px;
  }.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
  }.microphone-result-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 200px;
  padding-right: 200px;
  }.generative-outputs-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-bottom: auto;
  padding-left: 200px;
  padding-right: 200px;
 }.microphone-icon-container {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  padding: 8px;
  margin-right: 0px;
  position: relative;
  cursor: pointer;
  /*padding-top: 30px;*/
 }.microphone-icon {
  width: 100%;
  height: 100%;
 }.microphone-status {
  font-size: 20px;
  margin-right: 10px;
  min-width: 100px;
 }
}
@media screen and (max-width: 1024px) {
  body p {
    font-size: 20px;
  }.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
  }.microphone-result-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  }.generative-outputs-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-bottom: auto;
  padding-left: 100px;
  padding-right: 100px;
 }.microphone-icon-container {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  padding: 8px;
  margin-right: 0px;
  position: relative;
  cursor: pointer;
  /*padding-top: 30px;*/
 }.microphone-icon {
  width: 100%;
  height: 100%;
 }.microphone-status {
  font-size: 20px;
  margin-right: 10px;
  min-width: 100px;
 }
}
@media screen and (max-width: 768px) {
  body p {
    font-size: 10px;
  }.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
  }.microphone-result-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  }.generative-outputs-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-bottom: auto;
  padding-left: 50px;
  padding-right: 50px;
 }.microphone-icon-container {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  padding: 8px;
  margin-right: 0px;
  position: relative;
  cursor: pointer;
  /*padding-top: 30px;*/
 }.microphone-icon {
  width: 100%;
  height: 100%;
 }.microphone-status {
  font-size: 12px;
  margin-right: 8px;
  min-width: 100px;
 }
}

@media screen and (max-width: 480px) {
  body p {
    font-size: 8px;
  }.btn {
  border: none;
  padding: 10px 30px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 5px #ffffff1a;
  }.microphone-result-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  }.generative-outputs-container {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-bottom: auto;
  padding-left: 10px;
  padding-right: 10px;
 }.microphone-icon-container {
  width: 50px;
  height: 42px;
  border-radius: 20%;
  padding: 8px;
  margin-right: 0px;
  position: relative;
  cursor: pointer;
  /*padding-top: 30px;*/
 }.microphone-icon {
  width: 100%;
  height: 100%;
 }.microphone-status {
  font-size: 10px;
  margin-right: 8px;
  min-width: 100px;
 }
}